openapi: 3.0.3
info:
  title: 42 School API
  description: The 42 API provides programmatic access to read and write 42 School data. Authenticate users with OAuth 2.0
    and interact with all intranet data.
  version: 2.0.0
  contact:
    name: 42 Network
    url: https://api.intra.42.fr/apidoc
servers:
- url: https://api.intra.42.fr/v2
  description: 42 API v2 Production
security:
- OAuth2:
  - public
- BearerAuth: []
paths:
  /v2/accreditations:
    get:
      operationId: getAccreditations
      summary: List accreditations
      tags:
      - Accreditations
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SortParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Accreditation'
          headers:
            X-Total:
              $ref: '#/components/headers/X-Total'
            X-Page:
              $ref: '#/components/headers/X-Page'
            X-Per-Page:
              $ref: '#/components/headers/X-Per-Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createAccreditation
      summary: Create an accreditation
      tags:
      - Accreditations
      x-admin-only: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccreditationCreate'
      responses:
        '201':
          description: Accreditation created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accreditation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /v2/accreditations/{accreditation_id}/users:
    get:
      tags:
      - Users
      summary: List users for an accreditation
      description: Return all users with the given accreditation.
      operationId: getAccreditationUsers
      parameters:
      - name: accreditation_id
        in: path
        required: true
        description: The accreditation ID
        schema:
          type: integer
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SortParam'
      - $ref: '#/components/parameters/FilterParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserSummary'
          headers:
            X-Total:
              $ref: '#/components/headers/X-Total'
            X-Page:
              $ref: '#/components/headers/X-Page'
            X-Per-Page:
              $ref: '#/components/headers/X-Per-Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/accreditations/{id}:
    get:
      operationId: getAccreditation
      summary: Get an accreditation
      tags:
      - Accreditations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accreditation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateAccreditation
      summary: Update an accreditation
      tags:
      - Accreditations
      x-admin-only: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccreditationCreate'
      responses:
        '200':
          description: Accreditation updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accreditation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    put:
      operationId: replaceAccreditation
      summary: Replace an accreditation
      tags:
      - Accreditations
      x-admin-only: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccreditationCreate'
      responses:
        '200':
          description: Accreditation replaced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accreditation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: deleteAccreditation
      summary: Delete an accreditation
      tags:
      - Accreditations
      x-admin-only: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: Accreditation deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/achievements:
    get:
      operationId: getAchievements
      summary: List all achievements
      tags:
      - Achievements
      x-user-scope: true
      parameters:
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - id
          - name
          - internal_name
          - kind
          - tier
          - description
          - pedago
          - visible
          - nbr_of_success
          - parent_id
          - image
          - created_at
          - updated_at
          - slug
          - position
          - reward
          - title_id
        description: Sort field. Prefix with `-` for descending. Default `id`.
      - name: filter[id]
        in: query
        schema:
          type: string
        description: Filter by achievement ID (comma-separated for multiple).
      - name: filter[name]
        in: query
        schema:
          type: string
        description: Filter by name.
      - name: filter[kind]
        in: query
        schema:
          type: string
          enum:
          - project
          - social
          - scolarity
          - pedagogy
        description: Filter by kind.
      - name: filter[tier]
        in: query
        schema:
          type: string
          enum:
          - none
          - easy
          - medium
          - hard
          - challenge
        description: Filter by tier.
      - name: filter[visible]
        in: query
        schema:
          type: string
        description: Filter by visibility.
      - name: range[id]
        in: query
        schema:
          type: string
        description: Range filter on ID.
      - name: range[created_at]
        in: query
        schema:
          type: string
        description: Range filter on created_at.
      responses:
        '200':
          description: A list of achievements.
          headers:
            X-Total:
              schema:
                type: integer
            X-Page:
              schema:
                type: integer
            X-Per-Page:
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Achievement'
        '401':
          description: Unauthorized.
    post:
      operationId: createAchievement
      summary: Create an achievement (admin)
      tags:
      - Achievements
      x-admin-only: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchievementCreate'
      responses:
        '201':
          description: The created achievement.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Achievement'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '422':
          description: Unprocessable Entity.
  /v2/achievements/{achievement_id}/achievements_users:
    get:
      operationId: getAchievementAchievementsUsers
      summary: List achievement-user associations for an achievement
      tags:
      - AchievementsUsers
      parameters:
      - name: achievement_id
        in: path
        required: true
        schema:
          type: integer
        description: Achievement ID.
      - name: sort
        in: query
        schema:
          type: string
        description: Sort field.
      responses:
        '200':
          description: A list of achievement-user associations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AchievementUser'
        '401':
          description: Unauthorized.
  /v2/achievements/{achievement_id}/users:
    get:
      tags:
      - Users
      summary: List users for an achievement
      description: Return all users who have the given achievement.
      operationId: getAchievementUsers
      parameters:
      - name: achievement_id
        in: path
        required: true
        description: The achievement ID
        schema:
          type: integer
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SortParam'
      - $ref: '#/components/parameters/FilterParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserSummary'
          headers:
            X-Total:
              $ref: '#/components/headers/X-Total'
            X-Page:
              $ref: '#/components/headers/X-Page'
            X-Per-Page:
              $ref: '#/components/headers/X-Per-Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/achievements/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
      description: Achievement ID.
    get:
      operationId: getAchievementById
      summary: Show an achievement (admin)
      tags:
      - Achievements
      x-admin-only: true
      responses:
        '200':
          description: The achievement.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Achievement'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not found.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
    patch:
      operationId: updateAchievement
      summary: Update an achievement (admin)
      tags:
      - Achievements
      x-admin-only: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchievementUpdate'
      responses:
        '200':
          description: The updated achievement.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Achievement'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not found.
        '422':
          description: Unprocessable Entity.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
    put:
      operationId: replaceAchievement
      summary: Replace an achievement (admin)
      tags:
      - Achievements
      x-admin-only: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchievementUpdate'
      responses:
        '200':
          description: The replaced achievement.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Achievement'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not found.
        '422':
          description: Unprocessable Entity.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
    delete:
      operationId: deleteAchievement
      summary: Delete an achievement
      tags:
      - Achievements
      responses:
        '204':
          description: Achievement deleted.
        '401':
          description: Unauthorized.
        '404':
          description: Not found.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
  /v2/achievements_users:
    get:
      operationId: getAchievementsUsers
      summary: List all achievement-user associations
      tags:
      - AchievementsUsers
      parameters:
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - id
          - user_id
          - achievement_id
          - nbr_of_success
          - created_at
          - updated_at
          - rewarded
        description: Sort field. Default `-id`.
      - name: filter[id]
        in: query
        schema:
          type: string
        description: Filter by ID.
      - name: filter[user_id]
        in: query
        schema:
          type: string
        description: Filter by user ID.
      - name: filter[achievement_id]
        in: query
        schema:
          type: string
        description: Filter by achievement ID.
      - name: range[created_at]
        in: query
        schema:
          type: string
        description: Range filter on created_at.
      responses:
        '200':
          description: A list of achievement-user associations.
          headers:
            X-Total:
              schema:
                type: integer
            X-Page:
              schema:
                type: integer
            X-Per-Page:
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AchievementUser'
        '401':
          description: Unauthorized.
    post:
      operationId: createAchievementUser
      summary: Create an achievement-user association (admin)
      tags:
      - AchievementsUsers
      x-admin-only: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchievementUserCreate'
      responses:
        '201':
          description: The created achievement-user association.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementUser'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '422':
          description: Unprocessable Entity.
  /v2/achievements_users/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
      description: AchievementUser ID.
    get:
      operationId: getAchievementUserById
      summary: Show an achievement-user association (admin)
      tags:
      - AchievementsUsers
      x-admin-only: true
      responses:
        '200':
          description: The achievement-user association.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementUser'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not found.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
    patch:
      operationId: updateAchievementUser
      summary: Update an achievement-user association (admin)
      tags:
      - AchievementsUsers
      x-admin-only: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchievementUserUpdate'
      responses:
        '200':
          description: The updated achievement-user association.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementUser'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not found.
        '422':
          description: Unprocessable Entity.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
    put:
      operationId: replaceAchievementUser
      summary: Replace an achievement-user association (admin)
      tags:
      - AchievementsUsers
      x-admin-only: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchievementUserUpdate'
      responses:
        '200':
          description: The replaced achievement-user association.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementUser'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not found.
        '422':
          description: Unprocessable Entity.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
    delete:
      operationId: deleteAchievementUser
      summary: Delete an achievement-user association (admin)
      tags:
      - AchievementsUsers
      x-admin-only: true
      responses:
        '204':
          description: AchievementUser deleted.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not found.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
  /v2/alumnized_users:
    get:
      operationId: getAlumnizedUsers
      summary: List alumnized users
      tags:
      - Users
      responses:
        '200':
          description: A list of alumnized users.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserRef'
        '401':
          description: Unauthorized.
  /v2/amendments:
    get:
      operationId: getAmendments
      summary: List all amendments
      tags:
      - Amendments
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SortParam'
      - $ref: '#/components/parameters/FilterParam'
      responses:
        '200':
          description: A list of amendments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Amendment'
        '401':
          description: Unauthorized
    post:
      operationId: createAmendment
      summary: Create an amendment (admin)
      tags:
      - Amendments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmendmentCreate'
      responses:
        '201':
          description: Amendment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Amendment'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Unprocessable Entity
  /v2/amendments/{id}:
    get:
      operationId: getAmendmentById
      summary: Show an amendment (admin)
      tags:
      - Amendments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: A single amendment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Amendment'
        '404':
          description: Not Found
    delete:
      operationId: deleteAmendment
      summary: Delete an amendment (admin)
      tags:
      - Amendments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: Amendment deleted
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/anti_grav_units:
    get:
      operationId: getAntiGravUnits
      summary: List all anti-grav units (admin)
      tags:
      - AntiGravUnits
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SortParam'
      - $ref: '#/components/parameters/FilterParam'
      responses:
        '200':
          description: A list of anti-grav units
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AntiGravUnit'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      operationId: createAntiGravUnit
      summary: Create an anti-gravity unit
      tags:
      - AntiGravUnits
      x-admin-only: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AntiGravUnitCreate'
      responses:
        '201':
          description: Anti-gravity unit created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AntiGravUnit'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /v2/anti_grav_units/{anti_grav_unit_id}/anti_grav_units_users:
    get:
      operationId: getAntiGravUnitAntiGravUnitsUsers
      summary: List user associations for an anti-gravity unit
      tags:
      - AntiGravUnitsUsers
      parameters:
      - name: anti_grav_unit_id
        in: path
        required: true
        schema:
          type: integer
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SortParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AntiGravUnitUser'
          headers:
            X-Total:
              $ref: '#/components/headers/X-Total'
            X-Page:
              $ref: '#/components/headers/X-Page'
            X-Per-Page:
              $ref: '#/components/headers/X-Per-Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/anti_grav_units/{id}:
    get:
      operationId: getAntiGravUnitById
      summary: Show an anti-grav unit (admin)
      tags:
      - AntiGravUnits
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: A single anti-grav unit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AntiGravUnit'
        '403':
          description: Forbidden
        '404':
          description: Not Found
    patch:
      operationId: updateAntiGravUnit
      summary: Update an anti-gravity unit
      tags:
      - AntiGravUnits
      x-admin-only: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AntiGravUnitCreate'
      responses:
        '200':
          description: Anti-gravity unit updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AntiGravUnit'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    put:
      operationId: replaceAntiGravUnit
      summary: Replace an anti-gravity unit
      tags:
      - AntiGravUnits
      x-admin-only: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AntiGravUnitCreate'
      responses:
        '200':
          description: Anti-gravity unit replaced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AntiGravUnit'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: deleteAntiGravUnit
      summary: Delete an anti-gravity unit
      tags:
      - AntiGravUnits
      x-admin-only: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: Anti-gravity unit deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/anti_grav_units_users:
    get:
      operationId: getAntiGravUnitsUsers
      summary: List all anti-grav unit user assignments (admin)
      tags:
      - AntiGravUnitsUsers
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SortParam'
      - $ref: '#/components/parameters/FilterParam'
      responses:
        '200':
          description: A list of anti-grav unit user assignments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AntiGravUnitUser'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      operationId: createAntiGravUnitUser
      summary: Create an anti-grav unit user assignment (admin)
      tags:
      - AntiGravUnitsUsers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AntiGravUnitUserCreate'
      responses:
        '201':
          description: Anti-grav unit user assignment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AntiGravUnitUser'
        '403':
          description: Forbidden
        '422':
          description: Unprocessable Entity
  /v2/anti_grav_units_users/{id}:
    get:
      operationId: getAntiGravUnitUserById
      summary: Show an anti-grav unit user assignment (admin)
      tags:
      - AntiGravUnitsUsers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: A single anti-grav unit user assignment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AntiGravUnitUser'
        '403':
          description: Forbidden
        '404':
          description: Not Found
    patch:
      operationId: updateAntiGravUnitUser
      summary: Update an anti-grav unit user assignment (admin)
      tags:
      - AntiGravUnitsUsers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AntiGravUnitUserCreate'
      responses:
        '200':
          description: Anti-grav unit user assignment updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AntiGravUnitUser'
        '403':
          description: Forbidden
        '404':
          description: Not Found
    put:
      operationId: replaceAntiGravUnitUser
      summary: Replace an anti-grav unit user assignment
      tags:
      - AntiGravUnitsUsers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AntiGravUnitUserCreate'
      responses:
        '200':
          description: Anti-grav unit user assignment replaced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AntiGravUnitUser'
        '404':
          description: Not Found
    delete:
      operationId: deleteAntiGravUnitsUser
      summary: Delete an anti-gravity unit user association
      tags:
      - AntiGravUnitsUsers
      x-admin-only: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: Association deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/apps:
    get:
      operationId: getApps
      summary: List all apps
      tags:
      - Apps
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SortParam'
      - $ref: '#/components/parameters/FilterParam'
      responses:
        '200':
          description: A list of apps
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/App'
        '401':
          description: Unauthorized
    post:
      operationId: createApp
      summary: Create an OAuth application
      tags:
      - Apps
      x-admin-only: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppCreate'
      responses:
        '201':
          description: App created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /v2/apps/{id}:
    get:
      operationId: getAppById
      summary: Show an app
      tags:
      - Apps
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: A single app
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '404':
          description: Not Found
    patch:
      operationId: updateApp
      summary: Update an OAuth application
      tags:
      - Apps
      x-admin-only: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppCreate'
      responses:
        '200':
          description: App updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    put:
      operationId: replaceApp
      summary: Replace an OAuth application
      tags:
      - Apps
      x-admin-only: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppCreate'
      responses:
        '200':
          description: App replaced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: deleteApp
      summary: Delete an OAuth application
      tags:
      - Apps
      x-admin-only: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: App deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/attachments:
    get:
      operationId: getAttachments
      summary: List all attachments
      tags:
      - Attachments
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SortParam'
      - name: filter[id]
        in: query
        schema:
          type: string
      - name: filter[attachable_id]
        in: query
        schema:
          type: string
      - name: filter[attachable_type]
        in: query
        schema:
          type: string
      - name: filter[kind]
        in: query
        schema:
          type: string
      - name: filter[language_id]
        in: query
        schema:
          type: string
      - name: filter[user_id]
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Attachment'
          headers:
            X-Total:
              $ref: '#/components/headers/X-Total'
            X-Page:
              $ref: '#/components/headers/X-Page'
            X-Per-Page:
              $ref: '#/components/headers/X-Per-Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2/attachments/{id}:
    get:
      operationId: getAttachment
      summary: Get an attachment
      tags:
      - Attachments
      x-admin-only: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateAttachment
      summary: Update an attachment
      tags:
      - Attachments
      x-admin-only: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentUpdate'
      responses:
        '200':
          description: Attachment updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    put:
      operationId: replaceAttachment
      summary: Replace an attachment
      tags:
      - Attachments
      x-admin-only: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentUpdate'
      responses:
        '200':
          description: Attachment replaced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: deleteAttachment
      summary: Delete an attachment
      tags:
      - Attachments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: Attachment deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/balances:
    get:
      operationId: getBalances
      summary: List all balances (admin)
      tags:
      - Balances
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SortParam'
      - $ref: '#/components/parameters/FilterParam'
      responses:
        '200':
          description: A list of balances
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Balance'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /v2/balances/{id}:
    get:
      operationId: getBalanceById
      summary: Show a balance (admin)
      tags:
      - Balances
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: A single balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
        '404':
          description: Not Found
    patch:
      operationId: updateBalance
      summary: Update a balance (admin)
      tags:
      - Balances
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceUpdate'
      responses:
        '200':
          description: Balance updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
        '403':
          description: Forbidden
        '404':
          description: Not Found
    put:
      operationId: replaceBalance
      summary: Replace a balance (admin)
      tags:
      - Balances
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceUpdate'
      responses:
        '200':
          description: Balance replaced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/blocs:
    get:
      operationId: getBlocs
      summary: Return all blocs
      tags:
      - Blocs
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: 'Sort field. One of id, cursus_id, campus_id, squad_size, created_at, updated_at, coalition_delay, repeat_deadline_delay.

          '
      - name: filter[id]
        in: query
        required: false
        schema:
          type: string
        description: Filter by ID(s).
      - name: filter[campus_id]
        in: query
        required: false
        schema:
          type: string
        description: Filter by campus ID(s).
      - name: filter[cursus_id]
        in: query
        required: false
        schema:
          type: string
        description: Filter by cursus ID(s).
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bloc'
        '401':
          description: Unauthorized
  /v2/blocs/{bloc_id}/coalitions:
    get:
      operationId: getBlocCoalitions
      summary: Return coalitions for a bloc
      tags:
      - Coalitions
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: Sort field.
      - name: bloc_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Coalition'
        '401':
          description: Unauthorized
        '404':
          description: Bloc not found
  /v2/blocs/{bloc_id}/scores:
    get:
      operationId: getBlocScores
      summary: Return scores for a bloc (admin)
      tags:
      - Scores
      x-admin-only: true
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: Sort field.
      - name: bloc_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Score'
        '401':
          description: Unauthorized
        '404':
          description: Bloc not found
  /v2/blocs/{bloc_id}/scores/{id}:
    get:
      operationId: getBlocScoreById
      summary: Return a specific score for a bloc (admin)
      tags:
      - Scores
      x-admin-only: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: The score ID.
      - name: bloc_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Score'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /v2/blocs/{id}:
    get:
      operationId: getBlocById
      summary: Return a bloc
      tags:
      - Blocs
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: The bloc ID.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bloc'
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /v2/campus:
    get:
      operationId: getCampuses
      summary: List all campuses
      tags:
      - Campus
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SortParam'
      - name: filter[id]
        in: query
        schema:
          type: string
        description: Filter by campus ID(s), comma-separated
      - name: filter[name]
        in: query
        schema:
          type: string
        description: Filter by campus name
      - name: filter[country]
        in: query
        schema:
          type: string
        description: Filter by country
      - name: filter[active]
        in: query
        schema:
          type: string
        description: Filter by active status
      - name: filter[public]
        in: query
        schema:
          type: string
        description: Filter by public status
      - name: range[id]
        in: query
        schema:
          type: string
        description: 'Range filter for id (format: min,max)'
      - name: range[users_count]
        in: query
        schema:
          type: string
        description: 'Range filter for users_count (format: min,max)'
      responses:
        '200':
          description: Successful response
          headers:
            X-Total:
              schema:
                type: integer
              description: Total number of items
            X-Page:
              schema:
                type: integer
              description: Current page number
            X-Per-Page:
              schema:
                type: integer
              description: Items per page
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Campus'
        '401':
          description: Unauthorized
    post:
      operationId: createCampus
      summary: Create a campus (admin)
      tags:
      - Campus
      x-admin-only: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                campus:
                  type: object
                  properties:
                    name:
                      type: string
                    time_zone:
                      type: string
                    language_id:
                      type: integer
                    country:
                      type: string
                    address:
                      type: string
                    zip:
                      type: string
                    city:
                      type: string
                    website:
                      type: string
                    facebook:
                      type: string
                    twitter:
                      type: string
                    active:
                      type: boolean
                    public:
                      type: boolean
                    email_extension:
                      type: string
                    default_hidden_phone:
                      type: boolean
                  required:
                  - name
      responses:
        '201':
          description: Campus created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campus'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
        '422':
          description: Unprocessable Entity
  /v2/campus/{campus_id}/achievements:
    get:
      operationId: getCampusAchievements
      summary: List achievements for a campus
      tags:
      - Achievements
      x-user-scope: true
      parameters:
      - name: campus_id
        in: path
        required: true
        schema:
          type: string
        description: Campus ID or slug.
      - name: sort
        in: query
        schema:
          type: string
        description: Sort field.
      - name: filter[kind]
        in: query
        schema:
          type: string
        description: Filter by kind.
      responses:
        '200':
          description: A list of achievements for the campus.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Achievement'
        '401':
          description: Unauthorized.
  /v2/campus/{campus_id}/anti_grav_units_users:
    get:
      operationId: getCampusAntiGravUnitsUsers
      summary: List anti-grav unit assignments for a campus (admin)
      tags:
      - AntiGravUnitsUsers
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SortParam'
      - $ref: '#/components/parameters/FilterParam'
      - name: campus_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: A list of anti-grav unit user assignments for the campus
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AntiGravUnitUser'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /v2/campus/{campus_id}/cursus/{cursus_id}/events:
    get:
      operationId: getCampusCursusEvents
      summary: List events for a campus and cursus
      tags:
      - Events
      parameters:
      - name: campus_id
        in: path
        required: true
        schema:
          type: string
        description: Campus ID or slug.
      - name: cursus_id
        in: path
        required: true
        schema:
          type: string
        description: Cursus ID or slug.
      - name: sort
        in: query
        schema:
          type: string
        description: Sort field.
      - name: filter[kind]
        in: query
        schema:
          type: string
        description: Filter by event kind.
      - name: filter[future]
        in: query
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
        description: Filter for future events only.
      responses:
        '200':
          description: A list of events for the campus-cursus combination.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
        '401':
          description: Unauthorized.
  /v2/campus/{campus_id}/cursus/{cursus_id}/exams:
    parameters:
    - name: campus_id
      in: path
      required: true
      schema:
        type: integer
    - name: cursus_id
      in: path
      required: true
      schema:
        type: integer
    get:
      operationId: getCampusCursusExams
      summary: List exams for a cursus at a campus
      tags:
      - Exams
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SortParam'
      - $ref: '#/components/parameters/FilterParam'
      - name: campus_id
        in: path
        required: true
        schema:
          type: integer
      - name: cursus_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Paginated list of exams
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exam'
  /v2/campus/{campus_id}/events:
    get:
      operationId: getCampusEvents
      summary: List events for a campus
      tags:
      - Events
      parameters:
      - name: campus_id
        in: path
        required: true
        schema:
          type: string
        description: Campus ID or slug.
      - name: sort
        in: query
        schema:
          type: string
        description: Sort field.
      - name: filter[kind]
        in: query
        schema:
          type: string
        description: Filter by event kind.
      - name: filter[future]
        in: query
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
        description: Filter for future events only.
      - name: range[begin_at]
        in: query
        schema:
          type: string
        description: Range filter on begin_at.
      responses:
        '200':
          description: A list of events for the campus.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
        '401':
          description: Unauthorized.
  /v2/campus/{campus_id}/exams:
    parameters:
    - name: campus_id
      in: path
      required: true
      schema:
        type: integer
    get:
      operationId: getCampusExams
      summary: List exams for a campus
      tags:
      - Exams
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SortParam'
      - $ref: '#/components/parameters/FilterParam'
      - name: campus_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Paginated list of exams
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exam'
  /v2/campus/{campus_id}/experiences:
    get:
      operationId: getCampusExperiences
      summary: List experiences for a campus (admin)
      tags:
      - Experiences
      x-admin-only: true
      parameters:
      - name: campus_id
        in: path
        required: true
        schema:
          type: integer
        description: Campus ID
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SortParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Experience'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
        '404':
          description: Campus not found
  /v2/campus/{campus_id}/journals:
    get:
      operationId: getCampusJournals
      summary: List journals for a campus
      tags:
      - Journals
      parameters:
      - name: campus_id
        in: path
        required: true
        schema:
          type: string
        description: Campus ID or slug.
      responses:
        '200':
          description: A list of journals for the campus.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Journal'
        '401':
          description: Unauthorized.
  /v2/campus/{campus_id}/locations:
    get:
      operationId: getCampusLocations
      summary: List locations for a campus
      tags:
      - Locations
      parameters:
      - name: campus_id
        in: path
        required: true
        schema:
          type: integer
        description: Campus ID
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SortParam'
      - name: filter[active]
        in: query
        schema:
          type: string
        description: Filter by active status
      - name: filter[host]
        in: query
        schema:
          type: string
        description: Filter by host name
      - name: range[begin_at]
        in: query
        schema:
          type: string
        description: 'Range filter for begin_at (format: start,end)'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'
        '401':
          description: Unauthorized
        '404':
          description: Campus not found
  /v2/campus/{campus_id}/locations/end_all:
    delete:
      operationId: endAllCampusLocations
      summary: End all active locations for a campus (admin)
      tags:
      - Locations
      x-admin-only: true
      parameters:
      - name: campus_id
        in: path
        required: true
        schema:
          type: integer
        description: Campus ID
      responses:
        '204':
          description: All locations ended
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
        '404':
          description: Campus not found
  /v2/campus/{campus_id}/notes:
    get:
      tags:
      - Notes
      summary: List notes for a campus
      description: Return all the notes of the given campus.
      operationId: getCampusNotes
      parameters:
      - name: campus_id
        in: path
        required: true
        description: The campus ID or slug
        schema:
          type: string
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SortParam'
      - $ref: '#/components/parameters/FilterParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Note'
          headers:
            X-Total:
              $ref: '#/components/headers/X-Total'
            X-Page:
              $ref: '#/components/headers/X-Page'
            X-Per-Page:
              $ref: '#/components/headers/X-Per-Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/campus/{campus_id}/products:
    get:
      operationId: getCampusProducts
      summary: List products for a campus
      tags:
      - Products
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SortParam'
      - $ref: '#/components/parameters/FilterParam'
      - name: campus_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: A list of campus products
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'
        '401':
          description: Unauthorized
    post:
      operationId: createCampusProduct
      summary: Create a product for a campus (admin)
      tags:
      - Products
      parameters:
      - name: campus_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreate'
      responses:
        '201':
          description: Product created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /v2/campus/{campus_id}/products/{id}:
    get:
      operationId: getCampusProductById
      summary: Show a campus product (admin)
      tags:
      - Products
      parameters:
      - name: campus_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: A single campus product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '404':
          description: Not Found
    patch:
      operationId: updateCampusProduct
      summary: Update a campus product (admin)
      tags:
      - Products
      parameters:
      - name: campus_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreate'
      responses:
        '200':
          description: Product updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '403':
          description: Forbidden
        '404':
          description: Not Found
    put:
      operationId: replaceCampusProduct
      summary: Replace a campus product (admin)
      tags:
      - Products
      parameters:
      - name: campus_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreate'
      responses:
        '200':
          description: Product replaced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '403':
          description: Forbidden
        '404':
          description: Not Found
    delete:
      operationId: deleteCampusProduct
      summary: Delete a campus product
      tags:
      - Products
      parameters:
      - name: campus_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: Product deleted
        '404':
          description: Not Found
  /v2/campus/{campus_id}/quests:
    get:
      operationId: getCampusQuests
      summary: List quests for a campus (admin)
      tags:
      - Quests
      x-admin-only: true
      parameters:
      - name: campus_id
        in: path
        required: true
        schema:
          type: string
        description: Campus ID or slug.
      - name: sort
        in: query
        schema:
          type: string
        description: Sort field.
      - name: filter[kind]
        in: query
        schema:
          type: string
        description: Filter by kind.
      responses:
        '200':
          description: A list of quests for the campus.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Quest'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
  /v2/campus/{campus_id}/stats:
    get:
      operationId: getCampusStats
      summary: Get campus statistics
      tags:
      - Campus
      parameters:
      - name: campus_id
        in: path
        required: true
        schema:
          type: integer
        description: Campus ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Campus statistics object
        '401':
          description: Unauthorized
        '404':
          description: Campus not found
  /v2/campus/{campus_id}/tags_users:
    get:
      operationId: getCampusTagsUsers
      summary: List tag-user associations for a campus
      tags:
      - TagsUsers
      parameters:
      - name: campus_id
        in: path
        required: true
        schema:
          type: integer
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SortParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TagUser'
          headers:
            X-Total:
              $ref: '#/components/headers/X-Total'
            X-Page:
              $ref: '#/components/headers/X-Page'
            X-Per-Page:
              $ref: '#/components/headers/X-Per-Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/campus/{campus_id}/users:
    get:
      tags:
      - Users
      summary: List users for a campus
      description: Return all users belonging to the given campus.
      operationId: getCampusUsers
      parameters:
      - name: campus_id
        in: path
        required: true
        description: The campus ID or slug
        schema:
          type: string
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SortParam'
      - $ref: '#/components/parameters/FilterParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserSummary'
          headers:
            X-Total:
              $ref: '#/components/headers/X-Total'
            X-Page:
              $ref: '#/components/headers/X-Page'
            X-Per-Page:
              $ref: '#/components/headers/X-Per-Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/campus/{id}:
    get:
      operationId: getCampus
      summary: Show a campus (admin)
      tags:
      - Campus
      x-admin-only: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Campus ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campus'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
        '404':
          description: Campus not found
    patch:
      operationId: updateCampusPatch
      summary: Update a campus (admin)
      tags:
      - Campus
      x-admin-only: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Campus ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                campus:
                  type: object
                  properties:
                    name:
                      type: string
                    time_zone:
                      type: string
                    language_id:
                      type: integer
                    country:
                      type: string
                    address:
                      type: string
                    zip:
                      type: string
                    city:
                      type: string
                    website:
                      type: string
                    facebook:
                      type: string
                    twitter:
                      type: string
                    active:
                      type: boolean
                    public:
                      type: boolean
                    email_extension:
                      type: string
                    default_hidden_phone:
                      type: boolean
      responses:
        '200':
          description: Campus updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campus'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
        '404':
          description: Campus not found
        '422':
          description: Unprocessable Entity
    put:
      operationId: updateCampusPut
      summary: Update a campus (full replace)
      tags:
      - Campus
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Campus ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                campus:
                  type: object
                  properties:
                    name:
                      type: string
                    time_zone:
                      type: string
                    language_id:
                      type: integer
                    country:
                      type: string
                    address:
                      type: string
                    zip:
                      type: string
                    city:
                      type: string
                    website:
                      type: string
                    facebook:
                      type: string
                    twitter:
                      type: string
                    active:
                      type: boolean
                    public:
                      type: boolean
                    email_extension:
                      type: string
                    default_hidden_phone:
                      type: boolean
                  required:
                  - name
      responses:
        '200':
          description: Campus updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campus'
        '401':
          description: Unauthorized
        '404':
          description: Campus not found
        '422':
          description: Unprocessable Entity
  /v2/campus_users:
    get:
      operationId: getCampusUsers_campus_users
      summary: List all campus-user relationships
      tags:
      - Campus
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SortParam'
      - name: filter[id]
        in: query
        schema:
          type: string
        description: Filter by campus_user ID(s)
      - name: filter[user_id]
        in: query
        schema:
          type: string
        description: Filter by user ID(s)
      - name: filter[campus_id]
        in: query
        schema:
          type: string
        description: Filter by campus ID(s)
      - name: filter[is_primary]
        in: query
        schema:
          type: string
        description: Filter by primary campus status
      responses:
        '200':
          description: Successful response
          headers:
            X-Total:
              schema:
                type: integer
            X-Page:
              schema:
                type: integer
            X-Per-Page:
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CampusUser'
        '401':
          description: Unauthorized
    post:
      operationId: createCampusUser
      summary: Create a campus-user relationship (admin)
      tags:
      - Campus
      x-admin-only: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                campus_user:
                  type: object
                  properties:
                    user_id:
                      type: integer
                    campus_id:
                      type: integer
                    is_primary:
                      type: boolean
                  required:
                  - user_id
                  - campus_id
      responses:
        '201':
          description: Campus-user relationship created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampusUser'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
        '422':
          description: Unprocessable Entity
  /v2/campus_users/{id}:
    get:
      operationId: getCampusUser
      summary: Show a campus-user relationship (admin)
      tags:
      - Campus
      x-admin-only: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: CampusUser ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampusUser'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
        '404':
          description: CampusUser not found
  /v2/campus_users/{id}/set_as_primary:
    post:
      operationId: setCampusUserAsPrimary
      summary: Set a campus-user relationship as primary (admin)
      tags:
      - Campus
      x-admin-only: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: CampusUser ID
      responses:
        '200':
          description: Campus-user set as primary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampusUser'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
        '404':
          description: CampusUser not found
  /v2/certificates:
    get:
      operationId: getCertificates
      summary: List all certificates (admin)
      tags:
      - Certificates
      x-admin-only: true
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SortParam'
      - name: filter[id]
        in: query
        schema:
          type: string
        description: Filter by certificate ID(s)
      - name: filter[name]
        in: query
        schema:
          type: string
        description: Filter by certificate name
      responses:
        '200':
          description: Successful response
          headers:
            X-Total:
              schema:
                type: integer
            X-Page:
              schema:
                type: integer
            X-Per-Page:
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Certificate'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
  /v2/certificates/{certificate_id}/certificates_users:
    get:
      operationId: getCertificateCertificatesUsers
      summary: List certificate-user relationships for a certificate (admin)
      tags:
      - Certificates
      x-admin-only: true
      parameters:
      - name: certificate_id
        in: path
        required: true
        schema:
          type: integer
        description: Certificate ID
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SortParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CertificateUser'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
        '404':
          description: Certificate not found
  /v2/certificates/{id}:
    get:
      operationId: getCertificate
      summary: Show a certificate
      tags:
      - Certificates
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Certificate ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
        '401':
          description: Unauthorized
        '404':
          description: Certificate not found
  /v2/certificates_users:
    get:
      operationId: getCertificatesUsers
      summary: List all certificate-user relationships (admin)
      tags:
      - Certificates
      x-admin-only: true
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SortParam'
      - name: filter[id]
        in: query
        schema:
          type: string
        description: Filter by certificate_user ID(s)
      - name: filter[certificate_id]
        in: query
        schema:
          type: string
        description: Filter by certificate ID(s)
      - name: filter[user_id]
        in: query
        schema:
          type: string
        description: Filter by user ID(s)
      responses:
        '200':
          description: Successful response
          headers:
            X-Total:
              schema:
                type: integer
            X-Page:
              schema:
                type: integer
            X-Per-Page:
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CertificateUser'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
  /v2/certificates_users/{id}:
    get:
      operationId: getCertificateUser
      summary: Show a certificate-user relationship (admin)
      tags:
      - Certificates
      x-admin-only: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: CertificateUser ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateUser'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
        '404':
          description: CertificateUser not found
    delete:
      operationId: deleteCertificateUser
      summary: Delete a certificate-user relationship (admin)
      tags:
      - Certificates
      x-admin-only: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: CertificateUser ID
      responses:
        '204':
          description: Successfully deleted
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
        '404':
          description: CertificateUser not found
  /v2/closes:
    get:
      operationId: getCloses
      summary: List all closes (admin)
      tags:
      - Closes
      x-admin-only: true
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SortParam'
      - name: filter[id]
        in: query
        schema:
          type: string
        description: Filter by close ID(s)
      - name: filter[user_id]
        in: query
        schema:
          type: string
        description: Filter by user ID(s)
      responses:
        '200':
          description: Successful response
          headers:
            X-Total:
              schema:
                type: integer
            X-Page:
              schema:
                type: integer
            X-Per-Page:
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Close'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
    post:
      operationId: createClose
      summary: Create a close (admin)
      tags:
      - Closes
      x-admin-only: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                close:
                  type: object
                  properties:
                    user_id:
                      type: integer
                    reason:
                      type: string
                    kind:
                      type: string
                  required:
                  - user_id
                  - reason
      responses:
        '201':
          description: Close created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Close'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
        '422':
          description: Unprocessable Entity
  /v2/closes/{close_id}/community_services:
    get:
      operationId: getCloseCommunityServices
      summary: List community services for a close
      tags:
      - CommunityServices
      parameters:
      - name: close_id
        in: path
        required: true
        schema:
          type: integer
        description: The close ID
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SortParam'
      - $ref: '#/components/parameters/FilterParam'
      responses:
        '200':
          description: A list of community services for the close
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommunityService'
        '401':
          description: Unauthorized
  /v2/closes/{id}:
    get:
      operationId: getClose
      summary: Show a close (admin)
      tags:
      - Closes
      x-admin-only: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Close ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Close'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
        '404':
          description: Close not found
    patch:
      operationId: updateClosePatch
      summary: Update a close (admin)
      tags:
      - Closes
      x-admin-only: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Close ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                close:
                  type: object
                  properties:
                    reason:
                      type: string
                    kind:
                      type: string
      responses:
        '200':
          description: Close updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Close'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
        '404':
          description: Close not found
        '422':
          description: Unprocessable Entity
    put:
      operationId: updateClosePut
      summary: Update a close - full replace (admin)
      tags:
      - Closes
      x-admin-only: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Close ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                close:
                  type: object
                  properties:
                    reason:
                      type: string
                    kind:
                      type: string
                  required:
                  - reason
      responses:
        '200':
          description: Close updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Close'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
        '404':
          description: Close not found
        '422':
          description: Unprocessable Entity
    delete:
      operationId: deleteClose
      summary: Delete a close (admin)
      tags:
      - Closes
      x-admin-only: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Close ID
      responses:
        '204':
          description: Successfully deleted
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
        '404':
          description: Close not found
  /v2/closes/{id}/close:
    patch:
      operationId: reClosePatch
      summary: Re-close a user (admin)
      tags:
      - Closes
      x-admin-only: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Close ID
      responses:
        '200':
          description: User re-closed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Close'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
        '404':
          description: Close not found
    put:
      operationId: reClosePut
      summary: Re-close a user - PUT (admin)
      tags:
      - Closes
      x-admin-only: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Close ID
      responses:
        '200':
          description: User re-closed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Close'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
        '404':
          description: Close not found
  /v2/closes/{id}/unclose:
    patch:
      operationId: unclosePatch
      summary: Unclose a user (admin)
      tags:
      - Closes
      x-admin-only: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Close ID
      responses:
        '200':
          description: User unclosed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Close'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
        '404':
          description: Close not found
    put:
      operationId: unclosePut
      summary: Unclose a user - PUT (admin)
      tags:
      - Closes
      x-admin-only: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Close ID
      responses:
        '200':
          description: User unclosed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Close'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
        '404':
          description: Close not found
  /v2/clusters:
    get:
      operationId: getClusters
      summary: List all clusters (admin)
      tags:
      - Clusters
      x-admin-only: true
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SortParam'
      - name: filter[id]
        in: query
        schema:
          type: string
        description: Filter by cluster ID(s)
      - name: filter[campus_id]
        in: query
        schema:
          type: string
        description: Filter by campus ID(s)
      - name: filter[name]
        in: query
        schema:
          type: string
        description: Filter by cluster name
      responses:
        '200':
          description: Successful response
          headers:
            X-Total:
              schema:
                type: integer
            X-Page:
              schema:
                type: integer
            X-Per-Page:
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cluster'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
  /v2/clusters/{id}:
    get:
      operationId: getCluster
      summary: Show a cluster
      tags:
      - Clusters
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Cluster ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
        '401':
          description: Unauthorized
        '404':
          description: Cluster not found
  /v2/coalitions:
    get:
      operationId: getCoalitions
      summary: Return all coalitions
      tags:
      - Coalitions
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: 'Sort field. Prefix with `-` for descending. One of id, bloc_id, user_id, name, image, slug, created_at,
          updated_at, color, cover.

          '
      - name: filter[id]
        in: query
        required: false
        schema:
          type: string
        description: Filter by ID(s), comma-separated.
      - name: filter[name]
        in: query
        required: false
        schema:
          type: string
        description: Filter by name.
      - name: filter[slug]
        in: query
        required: false
        schema:
          type: string
        description: Filter by slug.
      - name: filter[bloc_id]
        in: query
        required: false
        schema:
          type: string
        description: Filter by bloc ID(s).
      - name: filter[user_id]
        in: query
        required: false
        schema:
          type: string
        description: Filter by user ID(s).
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Coalition'
        '401':
          description: Unauthorized
    post:
      operationId: createCoalition
      summary: Create a coalition (admin)
      tags:
      - Coalitions
      x-admin-only: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - coalition
              properties:
                coalition:
                  type: object
                  required:
                  - bloc_id
                  - user_id
                  - name
                  - color
                  properties:
                    bloc_id:
                      type: integer
                      description: The bloc ID.
                    user_id:
                      type: integer
                      description: The user ID.
                    name:
                      type: string
                      description: The name (must be unique within a bloc).
                    slug:
                      type: string
                      nullable: true
                      description: The slug.
                    color:
                      type: string
                      description: The color (hex value).
                    image:
                      type: string
                      format: binary
                      description: The image file.
                    cover:
                      type: string
                      format: binary
                      nullable: true
                      description: The cover file.
      responses:
        '201':
          description: Coalition created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coalition'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /v2/coalitions/{coalition_id}/coalitions_users:
    get:
      operationId: getCoalitionCoalitionsUsers
      summary: Return coalitions_users for a coalition
      tags:
      - CoalitionsUsers
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: Sort field.
      - name: filter[user_id]
        in: query
        required: false
        schema:
          type: string
        description: Filter by user ID(s).
      - name: coalition_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CoalitionUser'
        '401':
          description: Unauthorized
        '404':
          description: Coalition not found
  /v2/coalitions/{coalition_id}/scores:
    get:
      operationId: getCoalitionScores
      summary: Return scores for a coalition (admin)
      tags:
      - Scores
      x-admin-only: true
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: Sort field.
      - name: coalition_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Score'
        '401':
          description: Unauthorized
        '404':
          description: Coalition not found
    post:
      operationId: createCoalitionScore
      summary: Create a score for a coalition (admin)
      tags:
      - Scores
      x-admin-only: true
      parameters:
      - name: coalition_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                score:
                  type: object
                  properties:
                    coalitions_user_id:
                      type: integer
                      description: The coalitions_user ID.
                    calculation_id:
                      type: integer
                      description: The calculation ID.
                    value:
                      type: integer
                      description: The score value.
                    reason:
                      type: string
                      description: The reason for the score.
                    scoreable_type:
                      type: string
                      description: The scoreable type.
                    scoreable_id:
[...]
